on:
  schedule:
    # Runs every hour
    - cron: "0 0 * * 0"
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          if [ -f backend/requirements.txt ]; then pip install -r backend/requirements.txt; fi

      - name: Run backend script
        working-directory: backend
        env:
          OPENWEBUI_API_KEY: ${{secrets.OPENWEBUI_API_KEY}}
          OPENWEBUI_API_URL: ${{secrets.OPENWEBUI_API_URL}}
        run: |
          python -m scripts.extract
